// @import 'vendor/normalize-3.0.2';
@import 'pure';

html, body {
  // height: 100%;
  // background-color: black;
  // color: darkgrey;
}

#bosca-container {
  margin: 0 auto;
  width: 768px;
  height: 480px;
}

.login-menu {
  float: right;
}
