// @import 'vendor/normalize-3.0.2';
@import 'pure';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/modals';

html, body {
  // height: 100%;
  // background-color: black;
  // color: darkgrey;
}

.editor {
  margin: 0 auto;
  width: 768px;
}

#bosca-container {
  margin: 0 auto;
  width: 768px;
  height: 480px;
}

.user-menu {
  float: right;
}

.login-modal {
  .pure-control-group label {
    width: 6em;
  }
  .pure-controls {
    margin-left: 7em;
  }
  // todo: something with input[value=""]
  // https://css-tricks.com/almanac/selectors/i/invalid/
}


// colored button styles
.button-success {
  color: white;
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  color: white;
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  color: white;
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  color: white;
  background: rgb(66, 184, 221); /* this is a light blue */
}


.not-implemented {
  text-decoration: line-through;
}
