doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bosca Ceoil Online
    link(rel='stylesheet', href='style.css')
  body
    #container
      .header
        .pure-menu.pure-menu-horizontal
          //- a.pure-menu-heading(href="javascript:") Bosca Ceoil Online
          ul.pure-menu-list
            li.pure-menu-item.pure-menu-selected
              a#new-button.pure-menu-link(href="#!/") New
            li.pure-menu-item.pure-menu-selected
              a#about-link.pure-menu-link(href='http://distractionware.com/blog/2013/08/bosca-ceoil/', rel='external') About
            //- li.pure-menu-item
            //-   a.pure-menu-link(href="#") Browse
          ul.pure-menu-list.user-menu
            li.pure-menu-item.login-link-container.hidden
              a.pure-menu-link(href='#login-modal', data-toggle='modal') Login
            li.user-action-menu.hidden.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
              a#profile-link.pure-menu-link(href='#!/profile') [your name]
              ul.pure-menu-children
                li.pure-menu-item
                  a.pure-menu-link(href='#!/profile') Profile
                li.pure-menu-item
                  a#logout-link.pure-menu-link(href='#!/logout') Logout
      .editor
        form.pure-form(action='javascript:void(0)')
          fieldset.pure-menu.pure-menu-horizontal
            label(for='track-title') Title:
            input#track-title(name='title', type='text', placeholder='untitled')
            ul.pure-menu-list
              li.pure-menu-item
                a#save-button.pure-button.pure-button-primary.hidden Save
              li.pure-menu-item
                a#delete-button.pure-button.button-error.hidden Delete
              li.track-export-menu.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
                a.pure-button Export
                ul.pure-menu-children
                  li.pure-menu-item
                    a#export-ceol-button.pure-menu-link(href='javascript:') .ceol
                  li.pure-menu-item
                    a#export-wav-button.pure-menu-link(href='javascript:') .wav
              li.pure-menu-item
                input#import-ceol-input(type='file', accept='.ceol')
                a#import-ceol-button.pure-button.hidden Import .ceol
        #bosca-container
          object#BoscaCeoil(type='application/x-shockwave-flash', data='BoscaCeoil.swf', width='100%', height='100%', allowscriptaccess='always', allowfullscreen='true')
            param(name='scale', value='default')
            h1 This website requires Flash.


    //- Hidden modal content
    #login-modal.login-modal.modal(tabindex='-1', role='dialog', aria-labelledby='login-modal-label', aria-hidden='true')
      //- .modal-dialog.modal-lg
      .modal-dialog
        .modal-content
          //- .modal-header
          //-   a.close(type="button" data-dismiss="modal" aria-label="Close")
          //-     span(aria-hidden="true") &times;
          //-   h1#login-modal-label.modal-title A Very Nice Modal
          .modal-body
            .pure-g
              .pure-u-1-2
                form#login-form(name='login-form', method='post').pure-form.pure-form-aligned
                  fieldset
                    .pure-control-group
                      label(for='login-username') Username
                      input#login-username.pure-input-1-2(name='username', type='text', autocomplete='off', required, pattern='[a-zA-Z0-9]*')

                    .pure-control-group
                      label(for='login-password') Password
                      input#login-password.pure-input-1-2(name='password', type='password', required)

                    //- .pure-controls
                    //-   label.pure-checkbox(for='login-remember')
                    //-     input#login-remember(name='remember', type='checkbox')
                    //-     |  Remember me
                    .pure-controls
                      button#login-button.pure-button.pure-button-primary(type='submit') Login
              .pure-u-1-2
                form#signup-form(name='signup-form', method='post').pure-form.pure-form-aligned
                  fieldset
                    .pure-control-group
                      label(for='signup-username') Username
                      input#signup-username.pure-input-1-2(name='username', type='text', autocomplete='off', required, pattern='[a-zA-Z0-9]*')

                    .pure-control-group
                      label(for='signup-password') Password
                      input#signup-password.pure-input-1-2(name='password', type='password', required)

                    .pure-control-group
                      label(for='signup-email') Email
                      input#signup-email.pure-input-1-2(name='email', type='email', autocomplete='off', required)

                    .pure-controls
                      button#signup-button.pure-button.pure-button-primary(type='submit') Sign Up
          //- .modal-footer
          //-   button.pure-button(data-dismiss='modal', aria-hidden='true') Close
          //-   button.pure-button.pure-button-primary Submit


    #profile-modal.profile-modal.modal(tabindex='-1', role='dialog', aria-labelledby='login-modal-label', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h2#login-modal-label.modal-title Your Profile
          .modal-body
            .pure-g
              .pure-u
                table.pure-table.pure-table-horizontal
                  thead
                    tr
                      th Title
                      th Created At
                  tbody
                    //- dynamically populated

    script(src='bundle.js')
